/documents/pages/*
/documents/cache/*
/documents/trombi/*
/documents/lostUploadedFiles/*
/documents/tmp/*
/sessions/*
/.project
.DS_Store
includes/config.php
/.settings/
/.settings/*
db.sql.gz
documents/ipexclusion.php
graphiques/*
documents/ipexclusion.php
