




ErrorDocument 403 /travaux.html
ErrorDocument 401 /travaux.html

Options -Indexes -FollowSymLinks

<Files "*.php"> 
     Order Deny,Allow 
     Deny from All 
</Files>
 
<Files "index.php"> 
     Order Deny,Allow 
     Allow from All 
</Files>

<Files "travaux.html"> 
     Order Deny,Allow 
     Allow from All 
</Files>
